<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> 
    <%= @game.title %>: <%= @game.time %> at <%= @game.location %> has enough players now, so it's a go- see you there!</h1>
    <p>
    *****
    </p>
  </body>
</html>
