<h1>Sign Up:</h1>

<%= form_for :game, url: games_path(@game), method: :patch do |f| %>
  <p>

    <%= f.label :your_email %><br>
    <%= f.text_field :last_email %><br><br>
</p>
 
  <p>
    <%= f.submit "Sign Up", :class=>"button", id: "submit" %>
  </p>
<% end %>