html {
  background-color: #c0c0c0; 
}
body {
  background-color: #c0c0c0;
  border: 2px solid #112442;
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 10pt;
  margin:0px auto;
  margin-top: 25px;
  width: 80%;
}
#main {
  margin: 10px;
  padding: 0px 20px 0px 20px;
}
a {
  background: transparent;
  color: blue;
  text-decoration: underline;
  font-weight: bold;
}
h1 {
  color: #112442;
  display: block;
  width: 100%;
}
#header {
  background-image:url(asset_path('sports_banner.png'));
  background-repeat: no-repeat;
  height:350px;
  position: relative;
}
.title {
  /*margin: 0 0 1em;*/
  padding: 25px 0px 25px 0px;
  background-color: #112442;
  color: white;
  font-size: 3em;
  font-style: normal;
  position: absolute;
  bottom: -1;
}

#notice #warning {
  background: rosybrown;
  margin: 1em 0;
  padding: 4px;
}
form label {
  display: block;
  line-height: 25px;
  font-weight: bold;
  color: maroon;
}

.button {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #35aeff;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #2f9ce5}

.button:active {
  background-color: #2f9ce5;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}