<title>Sports Meetup!</title>

<center>
    <h1>
    <%= link_to '<button type="button" class="button">Upcoming Meets</button>'.html_safe, sports_path %>
    </h1>
    <h1>Log In</h1>
    Don't have an account? <u>Set up a profile</u>!
</center>
